

    <!--BODY OF WEBSITE-->

    <section class="container">
        <h1>About Us</h1>
        <p>We are an online and retail store. We have many locations but our headquarters can be found below</p><br>

        <div class="about_img">
            <img src="Products/WTC.jpg" alt="Store location">
            <h3> location: World Trade Center, Manhattan, New York</h3>
        </div><br>

        <h3>CEO/Founder: Okunola Uthman</h3>
        <p>I have built a
            business
            that is dedicated to serving underprivileged communities with easily accessible clothing and footwear. Please
            feel free to patronize my business and follow along on our journey to becoming a global brand.</p><br>

        <h2 align="center"> Mission statement</h2>
        <p> Our Goal is to bring quality products and services to our customers. In a world of online commerce, we are
            committed to providing satisfactory services to our delightful customers</p> <br>

        <h3 align="center"> Goals</h3>
        <ol>
            <li>We aim to add more merchandise to our stocks to meet customers' demand</li>
            <li>We aim to open more stores & new locations to make customer support more accessible and shopping easier</li>
            <li>We aim to provide affordable clothing and footwear to low-income areas</li>
        </ol>
    </section>

