 <br><br>
    <div id="popup-overlay" class="popup-overlay">
        <div class="popup-content">
           
            <form action="/end" method="get" onsubmit="emptyCart()" class="checkout_form">
                <input class="input2" type="text" name="first_name" placeholder="First Name">
                <input class="input2" type="text" name="last_name" placeholder="Last Name">
                <input class="input2" type="text" name="phone_number" placeholder="Phone Number">
                <input class="input2" type="text" name="shipping_address" placeholder="Shipping Address">
                <select class="round">
                    <option value="paypal">Paypal</option>
                    <option value="credit_card">Credit Card</option>
                    <option value="apple_pay">Apple Pay</option>
                    <option value="google_pay">Google Pay</option>
                </select>
                <input type="submit" value="Checkout" class="addtocart_button">
            </form>
        </div>
    </div>

 



