
   <body>

    <!-- Please note all the images or file in the public folder can be refrenced without including public in the path-->
    
   <section class="container">
        <br><br><br>
        <div class="slides_container"> <!--A slide of clickable images-->

            <div style="background-image: url(Products/shirtmodel.jpeg);">
                <h2 class="slides-txt">Shirts</h2>
            </div>

            <div style="background-image: url(Products/jacketmodel.jpeg);">
                <h2 class="slides-txt">Jackets</h2>
            </div>

            <div style="background-image: url(Products/jeansmodel.jpeg);">
                <h2 class="slides-txt">Jeans</h2>
            </div>

            <div style="background-image: url(Products/bootsmodel.jpeg);">
                <h2 class="slides-txt">Boots</h2>
            </div>

        </div>
    </section><br><br><br><br><br><br><br>
    
    <article>
        <div class="card">
            <div class="visual">
                <img src="Products/Menu.jpg" alt="" />
            </div>
            <div class="text-content">
                <h3>Shop Products</h3>
                <p>Discover the perfect blend of style, comfort, and quality with our exquisite collection of shirts and
                    other products. From trendy graphic tees to sophisticated button-downs, we offer a wide range of
                    designs and cuts to suit every individual's unique taste. Embrace fashion-forward trends and express
                    your personal style with confidence. Shop now and experience the satisfaction of owning
                    premium-quality shirts and other exceptional products.</p>
                <a href="/products">Shop now</a>
            </div>
        </div>
    </article>

    <script src="main.js"></script>

</body>