<br><br>

    <div id="content" class="form_settings"> 
        <form method="post" action="logoff">
            <center>
                <!--The class was "addtocart_button"-->
                <input class="" type="submit" value="Logoff">
            </center>
        </form>
    </div>

