 /*About Us Page*/
 .about_img {
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about_img img {
    border-radius: 15px;
    width: 65%;
    height: 500px; /* Adjust the value here to make the image shorter */
    
}