/*The Header Styling*/
.menu_bar{
  background-color: var(--color-black);
  height: 70px;/*Determines the height of the menu bar*/
  width: 100%;
  display: flex;/* makes the list/content horizontally aligned */
  align-items: center;
  justify-content: space-between;/*Equally seperates the content between the menu bar*/
  padding: 0 5%; 
  position: fixed;/*means the menu bar is stationary and wont move upon scroll  */
  margin: auto;
  z-index: 1;/*This stops the body from scrolling over the menu bar  and very scroll will go underneath it.*/
 }
 
 /*The logo class seperate from <UL> */
 .logo{
  color:var(--color-white);
  font-size: 30px; /*size of the text*/
 }
 
 /*styling the Span Tag under logo class*/
 .logo span{
     color: var(--color-primary);
 }
 
 /*The first <UL> under the menu_bar(THE LINKS shown ON HEADER)*/
 .menu_bar ul{
   list-style: none;/*removes dote*/
   display:flex;/*This makes the list horizontally aligned */
 
 }
 
 /*The first <UL>/<li> under the menu_bar*/
 .menu_bar ul li{
     padding: 10px 30px;/*spaces the list*/
     position: relative;
   }
 
   /*The list links in <UL>/<li>/<a> under the menu_bar*/
 .menu_bar ul li a{
     color: var(--color-white);
     text-decoration: none;/*color of text*/
     font-size: 20px;/*size of text*/
     transition: all 0.3s;/*0.3 seconds for the change to take effect*/
   }
 
   /*The list links in <UL>/<li>/<a> under the menu_bar hover effects*/
 .menu_bar ul li a:hover{
     color: var(--color-primary);
     text-decoration: underline;/*underlined when hovered*/
   }
  
   /* The dropdown list*/
   .dropdown_menu{
    display: block;
    position: absolute;/* puts list starting from the parent menu*/
    left: 0;/*aligns list vertically under all menu <ul> */
    top: 100%;/*spaces the list slighlty downward */
    background-color: var(--color-black);
   }
 
    /* The dropdown_menu <ul> list*/
    .dropdown_menu ul{
     display: block;/*take up full width of parent container, and following elements displayed on a new line*/
     margin: 10px; /* spacing between elements on a page.*/
    }
 
    /* The dropdown_menu <ul> list*/
    .dropdown_menu ul li{
     width: 120px;
     padding: 15px;/*pushes the dropdown list left aligned*/
    }
 
    /* menu wont display anything*/
    .dropdown_menu{
     display: none;
    }
 
    /* menu will display only when hovered*/
    .menu_bar ul li:hover .dropdown_menu{
     display: block;
     position: absolute;
     left: 0;
     top: 100%;
     background-color: var(--color-black);/*color of nav*/
    }

    
    